.gutter {
    width: 50rem;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: var(--container-color);
    width: 50rem;
    height: 31.25rem;
    border-radius: 0.4375rem;
    font-family: var(--font-mono);
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.containerHeader {
    display: flex;
    padding: var(--container-y-padding) var(--container-x-padding);
    border-bottom: 1px solid var(--background-color);
    justify-content: space-between;
    color: var(--secondary-text-color);
    flex-grow: 0;
}

.containerContent {
    padding: var(--container-y-padding) var(--container-x-padding);
    flex: 1;
    overflow: scroll;
}

.containerFooter {
    display: flex;
    padding: var(--container-y-padding) var(--container-x-padding);
    border-top: 1px solid var(--background-color);
    justify-content: space-between;
    color: var(--secondary-text-color);
    flex-grow: 0;
}

.header {
    font-size: 3rem;
    margin-bottom: 20px;
}

.header>span {
    font-size: 24px;
}

.sponsorHeader {
    color: var(--background-text-color);
    font-family: var(--font-mono);
    margin-top: 3.75rem;
}

.sponsorRow {
    display: flex;
    justify-content: space-between;
    height: 2.8125rem;
    margin-top: 10px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    
}
