.button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    height: 40px;
    font-size: 14px;
    background-color: var(--button-color);
    border-radius: 2px;
    padding: 15px 30px;
    color: var(--text-color);
    margin: -10px 0 -10px 0;

}

.input {
    outline: none;
    border: none;
    font-family: var(--font-mono);
}

.input::placeholder {
    color: var(--secondary-text-color);
}
